@*@model LanguageViewModel
@{
    ViewData["Title"] = "Languages";
}

<h2>@ViewBag.Title</h2>

<form asp-controller="Language" asp-action="Index" method="post">
    <h4>Add language</h4>
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="LanguageName" class="left"></label>
    <input asp-for="LanguageName" />
    <label class="left"></label>
    <span asp-validation-for="LanguageName" class="validation"></span>

    <label class="left">&nbsp;</label>
    <input type="submit" value="Add language" class="create" />

</form>

<h3>List of Languages</h3>
<table class="table">
    <thead>
        <tr>
            <th>Language Id</th>
            <th>Language</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var language in Model.Languages)
        {
            <tr>
                <td>@language.LanguageId</td>
                <td>@language.LanguageName</td>


                <td><a asp-action="Delete" asp-route-id=@language.LanguageId class="btn btn-danger">Delete</a></td>
            </tr>

        }
    </tbody>
</table>

*@

@model PeopleViewModel

@{
    ViewData["Title"] = "Language";
}

<div class="text-center">
    <form asp-action="AddLanguage" method="post">
        <input type="text" name="LanguageName" placeholder="Language name">
        <input type="submit" value="Add language" class="btn btn-primary">
    </form>
</div>
<div style="white-space: pre"> </div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Languages
            </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.People)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <ul>
                        @foreach (var language in item.Languages)
                        {
                            <li>
                                @language.LanguageName
                            </li>

                        }
                    </ul>
                </td>



            </tr>
        }
    </tbody>
</table>
<div style="white-space: pre"> </div>
<div class="text-center">
    <form asp-action="AddLanguageToPerson" method="post">
        <select id="selectlist2" name="Id" asp-items="@ViewBag.People"></select>
        <select id="selectlist" name="LanguageId" asp-items="@ViewBag.Languages"></select>
        <input type="submit" value="Add language" class="btn btn-primary">
    </form>
</div>

