@using AspMvcAssignment.Models
@model PeopleViewModel

@{
    ViewData["Title"] = "Writer List";
}

<div class="container">

    <div>
        <h5>Add new writer:</h5>
        <form method="post" asp-action="CreatePerson" asp-controller="Home">
            <div>
                <label asp-for="@Model.cpvm.Name"></label>
                <input asp-for="@Model.cpvm.Name" placeholder="Name">
                <span asp-validation-for="@Model.cpvm.Name"></span>
            </div>
            <div>
                <label asp-for="@Model.cpvm.NumberOfBooks"></label>
                <input asp-for="@Model.cpvm.NumberOfBooks" placeholder="Number of books">
                <span asp-validation-for="@Model.cpvm.NumberOfBooks"></span>
            </div>
            <div>
                <label asp-for="@Model.cpvm.City"></label>
                <input asp-for="@Model.cpvm.City" placeholder="City">
                <span asp-validation-for="@Model.cpvm.City"></span>
            </div>
            <div>
                <input type="submit" value="Add">
            </div>
        </form>
    </div>
    <div style="white-space: pre"> </div>

    <form method="post" asp-action="Search" asp-controller="Home">
        <div class="search-form">
            <input type="text" name="Search" value="@Model.Search" placeholder="Search" />
            <input type="submit" value="search" />
        </div>
    </form>

    <div style="white-space: pre"> </div>


    <div class="row">
        <div class="col-4">ID</div>
        <div class="col-2">Name</div>
        <div class="col-1">City</div>
        <div class="col-1">Number of books</div>
        <div class="col-4"></div>
    </div>


    @foreach (var person in Model.PeopleList)
    {


        <div class="row">
            <partial name="~/Views/Shared/_PeopleDetailsPartial.cshtml" model="person" />

        </div>
    }


</div>

