@model PeopleViewModel

@{
    ViewData["Title"] = "Writer List";
}



<form method="post" action="@Url.ActionLink("Index", "Home")">
    <div class="search-form">
        <input type="text" name="search" placeholder="Search">
        <input type="submit" value="Search">
    </div>
</form>
<br />


<div class="text-center">
    <form method="post" action="@Url.ActionLink("CreatePerson", "Home")">
        <input type="text" name="Name" placeholder="Name">
        <input type="text" name="NumberOfBooks" placeholder="Number of books">
        <input type="text" name="City" placeholder="City">
        <input type="submit" value="Add">
    </form>
</div>
<br />
<div class="container">
<div class="row">
    <p class="col">Name</p>
    <p class="col">City</p>
    <p class="col">Number of books</p>
    <p class="col">ID</p>
    <p> </p>

</div>
</div>

@foreach (var person in Model.tempList)
{

   
<div class="col">
 <partial name="~/Views/Shared/_PeopleDetailsPartial.cshtml" model="person" />
</div>
   
}

@**<br />
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h6>
                    @Html.DisplayNameFor(Model=>Model.Id)
                </h6>
            </div>
            <div class="col-4">
                <h6>
                    @Html.DisplayNameFor(Model=>Model.Name)
                </h6>
            </div>
            <div class="col-4">
                <h6>
                    @Html.DisplayNameFor(Model=>Model.NumberOfBooks)
                </h6>
            </div>
            <div class="col-4">
                <h5>

                    @Html.DisplayNameFor(Model=>Model.City)
                </h5>
            </div>
            <div class="col-4">

            </div>
        </div>
        @if (Model.tempList.Count == null)
        {
            <h3>The list is Empty</h3>
        }
        else
        {
            foreach (var person in Model.tempList)
            {
                <partial name="_PeopleDetailsPArtial" model="person"/>

}



