@model PeopleViewModel
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <h5>Add new writer:</h5>
    <form method="post" asp-action="Create" asp-controller="PeopleDb">
        <div class="form-group">
            <label asp-for ="@Model.cpvm.Name"> Name:</label>
            <div style="white-space: pre-line"> </div>
            <input asp-for="@Model.cpvm.Name" placeholder="Name">
            <span asp-validation-for="@Model.cpvm.Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.cpvm.NumberOfBooks">Number of books:</label>
            <div style="white-space: pre-line"> </div>
        <input asp-for="@Model.cpvm.NumberOfBooks" placeholder="Number of books">
            <span asp-validation-for="@Model.cpvm.NumberOfBooks"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.cpvm.City">City:</label>
            <div style="white-space: pre-line"> </div>
        <input asp-for="@Model.cpvm.City" placeholder="City">
            <span asp-validation-for="@Model.cpvm.City"></span>
        </div>
        <div>
            <input type="submit" value="Add" class="btn btn-success">
        </div>
    </form>
</div>
<div style="white-space: pre"> </div>

<form method="post" asp-action="Search" asp-controller="PeopleDb">
    <div class="search-form">
        <input type="text" name="Search" value="@Model." placeholder="Search" />
        <input type="submit" value="search" />
    </div>
</form>
<div style="white-space: pre"> </div>

<h3>List of writers</h3>

<table class="table">
    <thead>
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Number of books</th>
        <th>City</th>
        <th> </th>
    </tr>
    </thead>
    <tbody>
        @foreach(var person in Model.PeopleList)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.Name</td>
                <td>@person.NumberOfBooks</td>
                <td>@person.City</td>
                <td><a asp-action="Delete" asp-route-id=@person.Id class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>

</table>
