@*
@model LanguageViewModel
@{
    ViewData["Title"] = "View/Delete Languages";
}

@if(Model.Languages.Count() != 0)
{
    <h3>Languages spoken by @ViewBag.Name</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Language Id</th>
                <th>Language Name</th>
                <th> </th>
            </tr>
        </thead>
    <tbody>
        @foreach (var language in Model.Languages)
        {
            <tr>
                <td>@language.LanguageId</td>
                <td>@language.LanguageName</td>
                    <td><a asp-action="DeleteLanguageFromPerson" class="btn btn-danger" asp-route-id=@ViewBag.Id asp-route-languageId=@ViewBag.LanguageId>Delete</a></td>
            </tr>

        }
       
    </tbody>
    </table>

}
else
{
    <h3>@ViewBag.Name Does not speak!!!</h3>
}

@*<h2>@ViewBag.Title</h2>

<h3>List of Languages</h3>
<table class="table">
    <thead>
        <tr>
            <th>Person</th>
            <th>Language</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PersonLanguages)
        {
            Person person = Model.People.FirstOrDefault(p => p.Id == item.Id);
            Language language = Model.Languages.FirstOrDefault(l => l.LanguageId == item.LanguageId);
            <tr>
                <td>@person.Name</td>
                <td>@language.LanguageName</td>
                <td><a asp-controller="PersonLanguage" asp-action="Delete" asp-route-id="@item.Id" asp-route-lid="@item.LanguageId" class="btn btn-danger">Delete</a></td>
                <td><a asp-controller="PersonLanguage" asp-action="Create" asp-route-id="@item.Id" class="btn btn-primary" >Add Language</a></td>

            </tr>
        }
    </tbody>
</table>
*@